body {
    background-color: salmon;
    font-family: monospace;
}
.nav {
    background-color: aliceblue;
    /* background-color: lightblue; */
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
}
.registro {
    background-color: aliceblue;
    width: auto;
    height: auto;
    padding: 1rem 0;
}
input[text] {
    height: 4rem;
    width: 40%;
}